@import "./color.scss";
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  font-size: 13px;
  line-height: 1.1;
  color: var(--color-black);
  font-weight: 500;
  letter-spacing: 0.04em;
  text-decoration: none;
  &:hover {
    // color: var(--color-links-hover);
    transition: color 100ms ease-in;
  }
}

a:-webkit-any-link:focus-visible {
  outline: none;
}

.container {
  padding-left: 40px !important;
  padding-right: 40px !important;
  max-width: 100% !important;
  @media screen and (max-width: 575px) {
    padding: 0px 20px !important;
  }
}
p {
  margin-bottom: 0px;
  font-size: 16px;
  font-weight: 500;
}
span {
  color: rgba(0, 0, 0, 0.6);
}
.primary {
  color: var(--color-primary);
}
.head-text {
  font-weight: bold;
  font-size: clamp(30px, 5vw, 45px);
}
.Dflex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.Dflex-y {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.head-color {
  color: var(--color-text-primary);
}
.btn {
  // background-color: var(--color-primary);
  // color: var(--color-white);
  // font-size: clamp(16px, 2vw, 20px);
  // border: none;
  // border-radius: 10px;
  // box-shadow: none;
  // font-weight: 700;
  // padding: 10px 25px;
  // &:focus,
  // &:hover {
  //   background-color: var(--color-primary) !important;
  //   color: var(--color-white);
  //   box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, 0.158);
  //   opacity: 0.9;
  //   transition: opacity 0.5s;
  // }
  // &:disabled {
  //   pointer-events: none !important;
  //   background-color: #6c757d !important;
  //   opacity: 0.65 !important;
  // }
}

.btn-secondary {
  // background-color: var(--color-bg-primary);
  // color: var(--color-white);
  // &:focus,
  // &:hover {
  //   background-color: var(--color-bg-primary) !important;
  //   color: var(--color-white);
  // }
}

.back-btn {
  // background-color: transparent;
  // color: var(--color-text-primary);
  // width: fit-content;
  // box-shadow: none !important;
  // transition: 0.3s !important;
  // display: flex;
  // align-items: center;
  // gap: 5px;
  // margin-top: 20px;
  // svg {
  //   font-size: 25px;
  // }
  // &:focus,
  // &:hover {
  //   background-color: transparent !important;
  //   color: var(--color-primary);
  // }
}
